{% extends 'base.html' %}
{% block content %}
{% load static %}

    <section class="pt-8">
        <div class="container" data-sticky-container>
            <div class="row g-1">
                <aside class="col-xl-5">
                    <div data-sticky data-margin-top="10"
                         data-sticky-for="1199">

                        <div class="card border p-3 shadow">
                            <div class="card-body p-0">
                                <div class="row">
                                    <h6 class="text-center mb-1 pb-1 border-bottom">Roundway Booking Details</h6>
                                </div>

                                <div class="row g-0">
                                    <!-- Image -->
                                    <div class="col-md-6">
                                    </div>


                                    <!-- Title -->
                                    <div class="border-bottom col-12">

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Route :</div>
                                            <div class="col-8" style="font-size:13px;">
                                                <span class="source">{{ source }}</span> >> <span class="destination">{{ destination }}</span>
                                            </div>
                                        </div>

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Tour :</div>
                                            <div class="col-8" style="font-size:13px;">
                                                {{ date }} TO {{return_date}} at {{time}}
                                            </div>
                                        </div>

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Car Type :</div>
                                            <div style="font-size:13px;" class="col-8">
                                                {{ car_name }}
                                            </div>
                                        </div>

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Distance :</div>
                                            <div style="font-size:13px;" class="col-8">
                                                {{ distance }} Km
                                            </div>
                                        </div>
                                    </div>
                                    <!-- List -->

                                    <!--<li
                                        class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">State
                                            Tax</span>
                                        <span class="h6 fw-light mb-0">₹
                                            0</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">Night
                                            Charge</span>
                                        <span class="h6 fw-light mb-0">₹
                                            0</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">Driver
                                            Charges</span>
                                        <span class="h6 fw-light mb-0">₹
                                            0</span>
                                    </li>-->
                                    <ul class="mb-0 mt-2">
                                        <!-- Divider -->
                                        <li class="list-group-item d-flex justify-content-between pb-0">
                                            <span class="h6 fw-normal mb-0">Estimated Amount :</span>
                                            <span class="h5 fw-normal mb-0  text-danger">₹{{ car_price }}</span>
                                            <input name="car_price" type="hidden" value="{{ car_price }}">
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between pb-0">
                                            <div class="discounted-price-container"
                                                 style="display: none;">
                                                <span class="h6 fw-normal mb-0">Discounted Price :</span>

                                                <span class="fw-normal mb-0 discount-price text-success"></span>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between pb-0">
                                            <div class="final-price-container" style="display: none;">
                                                <span class="h6 fw-normal mb-0">Final Price :</span>
                                                <span class="fw-normal mb-0 badge bg-info lg total-price"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="coupon-result" class="pb-0 rounded-3">
                    </div>
                    <!-- Offer and discount START -->
                    <div class="col-md-6 col-xl-12 pt-2">
                        <div class="card shadow">
                            <div class="card-body pt-0 pb-2">
                                <form id="coupon-form">
                                    {% csrf_token %}
                                    <div class="input-group mt-3">
                                        <input class="form-control form-control" id="coupon-code"
                                               placeholder="Coupon code">
                                        <button type="button" id="apply-coupon" class="btn btn-info">Apply</button>
                                    </div>
                                    <p class="pt-1 pb-0">
                                        <a href="#" id="coupon-list-toggle">View Available Coupons</a>
                                    </p>
                                    <div class="coupon-list" style="display: none;">
                                        {% for coupon in active_coupons %}
                                        <div class="rounded-2 p-2 border-bottom">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="coupon-radio"
                                                       id="coupon{{ coupon.id }}" value="{{ coupon.code }}"
                                                       onclick="setCouponCode('{{ coupon.code }}')">
                                                <label class="form-check-label h6 mb-0" for="coupon{{ coupon.id }}">
                                                    {{coupon.code}}</label><br>
                                                <span class="small mb-0 text-success">{{coupon.description}}</span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Offer and discount END -->
                </aside>


                <div class="col-xl-6">
                    <div class="vstack gap-2">
                        <div class="card border shadow">
                            <div class="card-body">
                                <h6 style="font-size:15px;" class="mb-1 pb-1 border-bottom">Traveller Information</h6>
                                <div class="tab-content my-0" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="cab2-one-way" role="tabpanel"
                                         aria-labelledby="cab2-one-way-tab">
                                        <form class="row g-1" action="{% url 'round_cab_booking' %}" method="post">
                                            {% csrf_token %}
                                            <!-- Full Name -->
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="name" class="col-4 col-form-label required"
                                                           style="font-size:13px;"><b>Name</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input size="100" name="name" id="name" type="text"
                                                                       class="form-control" placeholder="Enter name"
                                                                       required>
                                                                <input value="{{source}}" name="pickup_city"
                                                                       id="pickup_city" hidden>
                                                                <input value="{{destination}}" name="drop_city"
                                                                       id="drop_city" hidden>
                                                                <input value="Roundway Outstation" name="booking_type"
                                                                       hidden>
                                                                <input value="{{distance}}" name="distance" hidden>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="name" class="col-4 col-form-label required"
                                                           style="font-size:13px;"><b>Mobile</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div class="input-group">
                                                                <select>
                                                                    <option value="+91">+ 91</option>
                                                                    <option value="+1">+ 1</option>
                                                                    <option value="+44">+ 44</option>
                                                                    <option value="+355">+ 355</option>
                                                                    <option value="+213">+ 213</option>

                                                                </select>
                                                                <input size="100" required minlength="10" maxlength="10"
                                                                       name="mobile_b" id="mobile_b" type="text"
                                                                       class="form-control" placeholder="Enter number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- DATE -->
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="name" class="col-4  col-form-label required"
                                                           style="font-size:13px;"><b>Email</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input size="100" name="email" id="email" type="email"
                                                                       class="form-control" placeholder="Enter Email"
                                                                       required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- TIME -->
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="name" class="col-4 col-form-label"
                                                           style="font-size:13px;"><b>Pickup</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input size="100" name="pickup_address"
                                                                       id="pickup_address" class="form-control small"
                                                                       placeholder="Pickup Address">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="name" class="col-4 col-form-label"
                                                           style="font-size:13px;"><b>Drop</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input size="100" name="drop_address" id="drop_address"
                                                                       class="form-control small"
                                                                       placeholder="Drop Address">
                                                                <input id="booking_id" name="booking_id" type="hidden">
                                                                <input id="total-price-value" name="amount"
                                                                       value="{{car_price}}" hidden>
                                                                <input class="discount-price-input" name="coupon_price"
                                                                       hidden>
                                                                <input id="date" name="date" type="hidden"
                                                                       value="{{date}}">
                                                                <input name="return_date" type="hidden"
                                                                       value="{{return_date}}">
                                                                <input id="time" name="time" type="hidden"
                                                                       value="{{time}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="name" class="col-4 col-form-label"
                                                           style="font-size:13px;"><b>Remark</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <textarea rows="1" cols="100" name="remark"
                                                                          class="form-control small"
                                                                          placeholder="Remark for the Driver"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <input type="checkbox"><span style="font-size:13px;"> Send Details On What's App</span>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <div class="col-12 col-form-label" style="font-size:13px;">
                                                        <input id="showFields1" type="checkbox"> GST Details
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <div class="col-12 col-form-label" style="font-size:13px;">
                                                        <input id="showFields2" type="checkbox"> Alternative Number

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" id="alternativeNumberField" style="display: none;">
                                                <div class="form-group row">

                                                    <div class="col-12">
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small"
                                                                       name="gst_company"
                                                                       placeholder="Company or Firm Name"
                                                                       size="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" id="gstField" style="display: none;">
                                                <div class="form-group row">

                                                    <div class="col-12">
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small" name="gst_number"
                                                                       placeholder="GST number"
                                                                       size="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" id="otherField" style="display: none;">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label" for="name"
                                                           style="font-size:13px;"><b>Alternative Number</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small"
                                                                       name="alternative_number"
                                                                       placeholder="Enter Mobile Number"
                                                                       size="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Button -->
                                            <input name="coupon_code" class="coupon-code" hidden>
                                            <div class="d-grid">
                                                <button type="submit" name="save" value="submit"
                                                        class="btn btn-info mb-0">PROCEED
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Trip Details END -->


                    </div>
                </div>
                <!-- Main content END -->

                <!-- Sidebar START -->

            </div>
        </div>
    </section>
</main>
<!-- Sidebar END -->
<section class="pt-0">
    <div class="container" data-sticky-container>
        <div class="row g-4">

            <!-- Main content START -->
            <div class="col-xl-12">
                <div class="vstack gap-5">
                    <!-- Main cab list END -->
                    <!-- Card START -->
                    <div class="card border mt-4">
                        <!-- Card header -->
                        <div class="card-header bg-info bg-opacity-25 border-bottom d-md-flex justify-content-md-between">
                            <h5 class="card-title mb-0">Safety Guidelines</h5>
                        </div>

                        <!-- Card body -->
                        <div class="card-body">
                            <ul class="list-group list-group-borderless mb-0">
                                <li style="font-size:12px;" class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i> If you have Booking Confirmation, rest
                                    assured you will get cab. We ensure cab arrives on time at your pick-up destination.
                                </li>
                                <li style="font-size:12px;"
                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i>Makemyryde provide you best taxi services
                                    with Experienced and professional Drivers everytime.
                                    Working from last 10+ Years. Our company has more then 1500+ Trusted Customers and
                                    7500+ Comferatable rides.
                                </li>
                                <li style="font-size:12px"
                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i>Your safety is our top priority. All our
                                    vehicles undergo regular maintenance and adhere to strict safety standards.
                                </li>
                                <li style="font-size:12px;"
                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i> We believe in transparency, and our
                                    pricing reflects that. You'll always know what you're paying for, with no hidden
                                    charges or surprises.

                                </li>
                                <li style="font-size:12px;"
                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i> To know more about Terms and Conditions
                                    you can read your cancellation policy and refund policy. We are available for you
                                    24/7, with the best service in the travel marketplace.

                                </li>
                                {% for number in number %}
                                {% for email in email %}
                                <li style="font-size:12px;"
                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i>Our Official Email Address &nbsp;
                                    <span><a href="mailto:{{email.info_email}}">{{email.info_email}}</a></span>&nbsp;
                                    and
                                    Phone Number &nbsp; <a href="tel:{{number.number}}">{{number.number}}</a>

                                </li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Card END -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Main Content END -->

{% endblock %}