{% extends 'base.html' %}
{% block content %}
{% load static %}

<main>

    <!-- =======================
    Main content START -->
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-xl-8 mx-auto">

                    <div class="card shadow">
                        <!-- Image -->


                        <!-- Card body -->
                        <div class="card-body text-center p-4">
                            <!-- Title -->
                            <h2 class="card-title fs-4">🎊 Congratulations! 🎊</h2>
                            <p class="lead mb-3 small">Your Booking is Confirmed</p>

                            <!-- Second title -->
                            <h6 class="text-primary mb-4">{{source}} - {{destination}}</h6>

                            <!-- List -->
                            <div class="row justify-content-between text-start mb-4">
                                <div class="col-lg-5">
                                    <ul class="list-group list-group-borderless">
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-vr fa-fw me-2"></i>Booking ID:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0">{{booking_id}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-person fa-fw me-2"></i>Booked by:</span>
                                            <span style="font-size:13px;" class="h6 fw-normal mb-0">{{name}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i
                                                    class="bi bi-wallet2 fa-fw me-2"></i>Estimated Amount:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0">₹ {{car_price}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i
                                                    class="bi bi-wallet2 fa-fw me-2"></i>Discounted Amount:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0 text-success">- ₹ {{coupon_price}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i
                                                    class="bi bi-wallet2 fa-fw me-2"></i>Coupon Code:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0 text-success">{{coupon_code}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i
                                                    class="bi bi-wallet2 fa-fw me-2"></i>Total Amount:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0">₹ {{total}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-currency-dollar fa-fw me-2"></i>Paid Amount:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0 text-success">₹ {{paid}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-currency-dollar fa-fw me-2"></i>Remaining Amount:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0 text-danger">₹ {{rem_amount}}</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-5">
                                    <ul class="list-group list-group-borderless">
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i
                                                    class="bi bi-calendar fa-fw me-2"></i>Booking Date:</span>
                                            <span id='today' style="font-size:13px;" class="h6 fw-normal mb-0"></span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i
                                                    class="bi bi-calendar fa-fw me-2"></i>Tour Date:</span>
                                            <span style="font-size:13px;"
                                                  class="h6 fw-normal mb-0">{{date}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-car-front-fill fa-fw me-2"></i>Car Type:</span>
                                            <span style="font-size:13px;" class="h6 fw-normal mb-0">{{car_name}}</span>
                                        </li>
                                        <li style="font-size:13px;"
                                            class="list-group-item d-sm-flex justify-content-between align-items-center">
                                            <span class="mb-0"><i class="bi bi-car-front-fill fa-fw me-2"></i>Trip Type:</span>
                                            <span style="font-size:13px;" class="h6 fw-normal mb-0">Oneway</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="d-sm-flex justify-content-sm-end d-grid">
                                <!-- Share button with dropdown -->
                                <div class="dropdown me-sm-2 mb-2 mb-sm-0">
                                    <a href="#" class="btn btn-light mb-0 w-100" role="button" id="dropdownShare"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-share me-2"></i>Share
                                    </a>
                                    <!-- dropdown button -->
                                    <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
                                        aria-labelledby="dropdownShare">
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i
                                                class="fab fa-facebook-square me-2"></i>Facebook</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-copy me-2"></i>Copy link</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Download button -->
                                <a href="{% url 'send_invoice_email' booking_id=booking_id %}"
                                   class="btn btn-primary mb-0"><i class="bi bi-file-pdf me-2"></i>Download PDF</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main content START -->

</main>


{% endblock %}