{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container pb-3 pt-8">
    <div class="text-center pt-2">
        <h5>About MakeMyRyde</h5>
    </div>
    <div>
        <h6>Our Story</h6>
        <p>At MakeMyRyde, we are passionate about revolutionizing the way you experience taxi services. Founded in 2011,
            our journey began with a simple idea - to make transportation safer, more convenient, and more accessible
            for everyone. Since then, we have evolved into a leading name in the industry, driven by our commitment to
            excellence and customer satisfaction.</p>
    </div>
    <div>
        <h6>Our Mission</h6>
        <p>At the core of MakeMyRyde's mission is a dedication to providing seamless, reliable, and efficient
            transportation solutions. We strive to connect passengers with professional, friendly, and skilled drivers,
            ensuring that every ride with us is not just a journey but an experience to remember.</p>
    </div>

    <div>
        <h6>Why Choose Us?</h6>
        <h6>1. Safety First</h6>
        <p>Your safety is our top priority. We rigorously screen and train our drivers, employ cutting-edge safety
            features, and regularly maintain our vehicles to ensure that you reach your destination securely.</p>
    </div>

    <div>
        <h6>2. Convenience at Your Fingertips</h6>
        <p>Booking a taxi has never been easier. With our user-friendly website, you can book a ride within minutes,
            track your driver in real-time, and even pay cashlessly for a hassle-free experience.

        </p>
    </div>

    <div>
        <h6>3. Exceptional Customer Service</h6>
        <p>Our dedicated customer support team is available around the clock to assist you with any queries or concerns.
            We believe in going the extra mile to make your journey as smooth as possible.</p>
    </div>

    <div>
        <h6>4. Fair and Transparent Pricing</h6>
        <p>We believe in fair pricing. With us, you'll never have to worry about hidden fees or surcharges. Our
            transparent pricing policy ensures that you only pay what you see.</p>
    </div>

    <div>
        <h6>5. Environmental Responsibility</h6>
        <p>As a responsible company, we are committed to reducing our carbon footprint. We actively promote the use of
            eco-friendly vehicles and employ environmentally conscious practices wherever possible.</p>
    </div>

    <div>
        <h6>Our Vision</h6>
        <p>Our vision is to redefine the way people perceive taxi services. We envision a future where transportation is
            not just a means to an end but an integral part of your journey, offering comfort, reliability, and peace of
            mind. As we continue to grow and expand our services, we invite you to join us on this exciting journey
            towards a better, more connected world.</p>
    </div>

    <div>Thank you for choosing MakeMyRyde. We look forward to serving you and being your trusted partner on the road
        ahead.
    </div>

</div>

{% endblock %}