{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <!-- =======================
    Main Banner START -->
    <section class="pt-8 pb-1">
        <div class="container position-relative ">
            <!-- Title and button START -->
            <div class="row">
                <div class="col-12">
                    <!-- Meta -->
                    <h6 class="mb-1 pb-1 border-bottom text-center " style="font-size:15px;">Booking
                        Summary</h6>
                    <div class="text-center">
                        <h6 class="text-info" style="font-size:16px;">Get Your <span class="badge bg-secondary">Booking Confirmation Id</span>
                            Now</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
Main Banner END -->

    <!-- =======================
Main Content START -->
    <section class="pt-0">
        <div class="container" data-sticky-container>
            <div class="row g-1">
                <!-- Sidebar START -->
                <aside class="col-xl-5">
                    <div data-margin-top="10" data-sticky
                         data-sticky-for="1199">

                        <div class="card border p-2 shadow">
                            <div class="card-body p-0">
                                <div class="">
                                    <h6 class="text-center mb-1 pb-1 border-bottom">Select Payment</h6>
                                </div>

                                <form action="{% url 'airport_confirm' booking_id=booking_id %}" method="post">
                                    {% csrf_token %}
                                    <ul class="mb-0 mt-2 p-1 border-bottom">
                                        <!-- Divider -->
                                        <li class="list-group-item d-flex justify-content-between pb-0">
                                            <span class="h6 fw-normal mb-0">Total :</span>

                                            <span class="h5 fw-normal mb-0 total-price">₹
                                                    {{ amount }}</span>

                                            <input name="total" id="total-price-value"
                                                   value="{{ amount }}" hidden>
                                            <input name="paid" id="paymentAmountInput" class="payment-amount"
                                                   hidden>
                                            <input name="booking_type" value="Airport Booking"
                                                   class="payment-amount"
                                                   hidden>
                                        </li>

                                        <span style="font-size: 10px;" class="text-success">(Coupon Code Applied)</span>
                                    </ul>
                                    <div class="row col-12 g-1 pb-1 pt-2">
                                        <!-- Item -->
                                        <div class="col-4">
                                            <div class="bg-light py-3 px-4 rounded-3 d-flex align-items-center">
                                                <label for="discount3">
                                                    <input class="form-check-input payment-option" type="radio"
                                                           name="discountOptions" id="discount3" value="option3">
                                                    <div>
                                                        <h6 class="mb-1">₹ 0 Pay Now</h6>
                                                        <label style="font-size: 10px;"
                                                               class="form-check-label fw-normal mb-0">Pay Cash to
                                                            driver</label>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Item -->
                                        <div class="col-4">
                                            <div class="bg-light py-3 px-4 rounded-3 d-flex align-items-center">
                                                <label for="discount1">
                                                    <input class="form-check-input payment-option" type="radio"
                                                           name="discountOptions" id="discount1" value="option1"
                                                           checked>
                                                    <div>
                                                        <h6 class="mb-1">20% Advance</h6>
                                                        <label style="font-size: 10px;"
                                                               class="form-check-label fw-normal mb-0">Pay Adv ₹
                                                            {{money1}}</label>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Item -->
                                        <div class="col-4">
                                            <div class="bg-light  py-3 px-4 rounded-3 d-flex align-items-center">
                                                <label for="discount2">
                                                    <input class="form-check-input payment-option" type="radio"
                                                           name="discountOptions" id="discount2" value="option2">
                                                    <div>
                                                        <h6 class="mb-1">100% Advance</h6>
                                                        <label style="font-size: 10px;"
                                                               class="form-check-label fw-normal mb-0">Pay Adv ₹
                                                            {{money}}</label>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pt-1">
                                        <span style="font-size:15px;"><input checked type="checkbox"> I Agree all <a
                                                href="{% url 'terms' %}">Terms&Conditions </a> and <a
                                                href="{% url 'refund' %}"> Refund Policy.</a></span>
                                    </div>
                                    <div class="d-grid mt-3">
                                        <button class="btn btn-info mb-0 ">Proceed To Payment
                                            <span class="payment-amount total-price"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-xl-6">

                    <div class="vstack gap-2">
                        <div class="card border">


                            <div class="card-body pt-2">
                                <h6 class="mb-1 pb-1 border-bottom text-center" style="font-size:15px;">Traveller
                                    Information</h6>
                                <div class="row  border-bottom pb-1">
                                    <div style="font-size:12px;" class="col-3 text-dark">Name :</div>
                                    <div class="col-9" style="font-size:13px;">
                                        <span class="text-dark">{{ name }}</span>
                                    </div>
                                    <div style="font-size:12px;" class="col-3 text-dark">Email :</div>
                                    <div class="col-9" style="font-size:13px;">
                                        <span class="text-dark">{{ email }}</span>
                                    </div>
                                    <div style="font-size:12px;" class="col-3 text-dark">Mobile :</div>
                                    <div class="col-9" style="font-size:13px;">
                                        <span class="text-dark">{{ mobile_b }}</span>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="row  pb-2 pt-1">
                                        <div class="row">
                                            <div style="font-size:12px;" class="col-3 text-dark">Route :</div>
                                            <div class="col-9" style="font-size:12px;">&nbsp;
                                                <span class="text-dark source">{{pickup_city}}</span> >>
                                                <span class="text-dark destination"
                                                >{{ drop_city }}</span>
                                            </div>
                                        </div>
                                        <div style="font-size:12px;" class="col-3 text-dark">Km :</div>
                                        <div class="col-9 text-dark" style="font-size:12px;">{{distance}} Km

                                        </div>
                                        <div style="font-size:12px;" class="col-3 text-dark">Date :</div>
                                        <div class="col-9 text-dark" style="font-size:12px;">{{date}}
                                        </div>
                                        <div style="font-size:12px;" class="col-3 text-dark">Time :</div>
                                        <div class="col-9 text-dark" style="font-size:12px;">{{time}}
                                        </div>
                                        <div style="font-size:12px;" class="col-3 text-dark">Car :</div>
                                        <div class="col-9 text-dark" style="font-size:12px;">{{ car_name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Trip Details END -->
                        <div class="container position-relative">
                            <!-- Title and button START -->
                        </div>
                    </div>
                </div>
                <!-- Main content END -->


            </div>
        </div>
    </section>
</main>
<!-- Sidebar END -->

<!-- =======================
Main Content END -->


{% endblock %}