{% extends 'base.html' %}
{% block content %}
{% load static %}
<main xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <!-- =======================
Main Banner START -->
    <section class="pt-1 pb-0">
        <div class="container position-relative">
            <!-- Title and button START -->
            <div class="row">
                <div class="col-12">
                    <!-- Meta -->
                    <div
                            class="d-flex justify-content-between align-items-lg-center">
                        <!-- Title -->

                        <!-- Buttons -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Title and button END -->

    </section>
    <!-- =======================
Main Banner END -->

    <!-- =======================
Main Content START -->
    <section class="pt-0">
        <div class="container" data-sticky-container>
            <div class="row g-1">
                <div class="col-xl-6">
                    <div class="vstack gap-2">
                        <div class="card border shadow">
                            <div class="card-body">

                                <h6 class="mb-1 pb-1 border-bottom" style="font-size:15px;">Traveller Information</h6>

                                <div class="tab-content my-0" id="pills-tabContent">
                                    <div aria-labelledby="cab2-one-way-tab" class="tab-pane fade show active"
                                         id="cab2-one-way"
                                         role="tabpanel">
                                        <form action="{% url 'airport_cab_booking' %}" class="row g-1" method="post">
                                            {% csrf_token %}
                                            <!-- Full Name -->
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label required" for="name"
                                                           style="font-size:13px;"><b>Name</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control" id="name" name="name"
                                                                       placeholder="Enter name"
                                                                       required size="100"
                                                                       type="text">
                                                                <input hidden id="pickup_city"
                                                                       name="pickup_city" value="{{airport}}">
                                                                <input hidden id="drop_city"
                                                                       name="drop_city" value="{{address}}">
                                                                <input hidden
                                                                       name="selected_option"
                                                                       value="{{selected_option}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label required"
                                                           style="font-size:13px;"><b>Mobile</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div class="input-group">
                                                                <select>
                                                                    <option value="+91">+ 91</option>
                                                                    <option value="+1">+ 1</option>
                                                                    <option value="+44">+ 44</option>
                                                                    <option value="+355">+ 355</option>
                                                                    <option value="+213">+ 213</option>

                                                                </select>
                                                                <input class="form-control" id="mobile_b" maxlength="10"
                                                                       minlength="10"
                                                                       name="mobile_b" placeholder="Enter number"
                                                                       required
                                                                       size="100" type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- DATE -->
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-4  col-form-label required"
                                                           for="name" style="font-size:13px;"><b>Email</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control" id="email" name="email"
                                                                       placeholder="Enter Email"
                                                                       required size="100"
                                                                       type="email">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-12" hidden="">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label" for="name"><b>Pickup</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small" id="pickup_address"
                                                                       name="pickup_address"
                                                                       placeholder="Pickup Address"
                                                                       readonly size="100"
                                                                       value="{{airport}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" hidden="">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label" for="name"><b>Drop</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small" id="drop_address"
                                                                       name="drop_address" placeholder="Drop Address"
                                                                       size="100"
                                                                       value="{{address}}">
                                                                <input id="booking_id" name="booking_id" type="hidden">
                                                                <input id="total-price-value" name="amount"
                                                                       value="{{car_price}}" hidden>
                                                                <input id="date" name="date" type="hidden"
                                                                       value="{{date}}">
                                                                <input id="time" name="time" type="hidden"
                                                                       value="{{time}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label"
                                                           for="name" style="font-size:13px;"><b>Alternative Number</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control"
                                                                       name="alternative_number"
                                                                       placeholder="Enter Alternative Number">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label"
                                                           for="name" style="font-size:13px;"><b>Remarks</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <textarea class="form-control"
                                                                          cols="100" name="remark"
                                                                          placeholder="Remark for the Driver"
                                                                          rows="1"></textarea>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <div class="col-12 col-form-label" style="font-size:13px;">
                                                        <input id="showFields1" type="checkbox"> GST Details
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group row">
                                                    <div class="col-12 col-form-label" style="font-size:13px;">
                                                        <input id="showFields2" type="checkbox"> Flight Details

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" id="alternativeNumberField" style="display: none;">
                                                <div class="form-group row">

                                                    <div class="col-12">
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small"
                                                                       name="gst_company"
                                                                       placeholder="Company or Firm Name"
                                                                       size="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6" id="gstField" style="display: none;">
                                                <div class="form-group row">

                                                    <div class="col-12">
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small" name="gst_number"
                                                                       placeholder="GST number"
                                                                       size="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12" id="otherField" style="display: none;">
                                                <div class="form-group row">
                                                    <label class="col-4 col-form-label" for="name"
                                                           style="font-size:13px;"><b>Flight Details</b></label>
                                                    <div class="col-8">
                                                        <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                            <div>
                                                                <input class="form-control small"
                                                                       name="flight_number"
                                                                       placeholder="Enter Flight Number"
                                                                       size="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input name="coupon_code" class="coupon-code" hidden>
                                           <input class="discount-price-input" name="coupon_price" hidden>
                                            <!-- Button -->
                                            <div class="d-grid pt-2">
                                                <button class="btn btn-info mb-0" name="save" type="submit"
                                                        value="submit">PROCEED
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Trip Details END -->
                        <div class="container position-relative">
                            <!-- Title and button START -->
                        </div>
<div id="coupon-result" class="pt-0 pb-0 rounded-3">
                        </div>
                        <!-- Coupon START -->
                        <div class="col-md-6 col-xl-12 pt-0">
                            <div class="card card-body border rounded-3">
                                <div class="cardt-title">
                                    <h6>Offer & Discount</h6>
                                </div>
                                <!-- Input group -->
                                <form id="coupon-form">
                                    {% csrf_token %}
                                    <div class="input-group mt-0">
                                        <input class="form-control form-control" id="coupon-code"
                                               placeholder="Coupon code">
                                        <button type="button" class="btn btn-info" id="apply-coupon">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Coupon END -->
                    </div>
                </div>
                <!-- Main content END -->

                <!-- Sidebar START -->
                <aside class="col-xl-5">
                    <div data-margin-top="10" data-sticky
                         data-sticky-for="1199">

                        <div class="card border p-3 shadow">
                            <div class="card-body p-0">
                                <div class="row">
                                    <h6 style="font-size:15px;" class="text-center mb-1 pb-1 border-bottom">Airport Booking Details</h6>
                                </div>

                                <div class="row g-0">
                                    <!-- Image -->
                                    <div class="col-md-6">
                                    </div>


                                    <!-- Title -->
                                    <div class="border-bottom col-12">

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Route :</div>
                                            <div class="col-8" style="font-size:13px;">
                                                <span id="source">{{ airport }}</span> >> <span id="destination">{{ address }}</span>
                                            </div>
                                        </div>

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Pickup :</div>
                                            <div class="col-8" style="font-size:13px;">
                                                {{ date }} at {{time}}
                                            </div>
                                        </div>

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Car Type :</div>
                                            <div class="col-8" style="font-size:13px;">
                                                {{ car_name }}
                                            </div>
                                        </div>

                                        <!-- Heading and Value column (col-12) -->
                                        <div class="row">
                                            <div class="h6 small col-4">Distance :</div>
                                            <div class="col-8" style="font-size:13px;">
                                                {{ distance }} Km
                                            </div>
                                        </div>
                                    </div>
                                    <!-- List -->

                                    <!--<li
                                        class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">State
                                            Tax</span>
                                        <span class="h6 fw-light mb-0">₹
                                            0</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">Night
                                            Charge</span>
                                        <span class="h6 fw-light mb-0">₹
                                            0</span>
                                    </li>
                                    <li
                                        class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0">Driver
                                            Charges</span>
                                        <span class="h6 fw-light mb-0">₹
                                            0</span>
                                    </li>-->
                                    <ul class="mb-0 mt-2">
                                        <!-- Divider -->
                                        <li class="list-group-item d-flex justify-content-between pb-0">
                                            <span class="h6 fw-normal mb-0">Estimated Amount :</span>
                                            <span class="h5 fw-normal mb-0  text-danger">₹{{ car_price }}</span>
                                            <input name="car_price" type="hidden" value="{{ car_price }}">
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between pb-0">
                                            <div class="discounted-price-container"
                                                 style="display: none;">
                                                <span class="h6 fw-normal mb-0">Discounted Price :</span>

                                                <span class="fw-normal mb-0 discount-price text-success"></span>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between pb-0">
                                            <div class="final-price-container" style="display: none;">
                                                <span class="h6 fw-normal mb-0">Final Price :</span>
                                                <span class="fw-normal mb-0 badge bg-info lg total-price"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </aside>
            </div>


        </div>


    </section>
</main>
<!-- Sidebar END -->


<section class="pt-0">
    <div class="container" data-sticky-container>
        <div class="row g-4">

            <!-- Main content START -->
            <div class="col-xl-12">
                <div class="vstack gap-5">
                    <!-- Main cab list END -->
                    <!-- Card START -->
                    <div class="card border mt-4">
                        <!-- Card header -->
                        <div class="card-header bg-info bg-opacity-25 border-bottom d-md-flex justify-content-md-between">
                            <h5 class="card-title mb-0">Safety Guidelines</h5>
                        </div>

                        <!-- Card body -->
                        <div class="card-body">
                            <h6>Price Included</h6>
                            <!-- List -->
                            <ul
                                    class="list-group list-group-borderless mb-0">
                                <li style="font-size:12px;" class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i>Your
                                    trip includes one pick up in
                                    Pick-up city and one drop to
                                    destination city. It does
                                    not include within city
                                    travel.
                                </li>
                                <li style="font-size:12px;"
                                        class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i>If
                                    your Trip has Hill climbs,
                                    cab AC may be switched off
                                    during such climbs.
                                </li>
                                <li style="font-size:12px"
                                        class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i>Your
                                    Trip has a KM limit. If your
                                    usage exceeds this limit,
                                    you will be charged for the
                                    excess KM used.
                                </li>
                                <li style="font-size:12px;"
                                        class="list-group-item h6 fw-light d-flex mb-0"><i
                                        class="bi bi-check text-dark me-2"></i>To
                                    know more about Terms and
                                    Conditions you can read your
                                    cancellation policy and
                                    refund policy.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card END -->

                </div>
            </div>
        </div>
    </div>

</section>
</div>
</div>
</div>
</section>

<!-- =======================
Main Content END -->

{% endblock %}