{% extends 'admin/admin_base.html' %}
{% block content %}
{% load static %}

<div class="container pb-5">
    <div class="row">
        <!-- Sidebar START -->
        <div class="col-lg-4 col-xl-3">
            <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar">
                <!-- Offcanvas header -->
                <div class="offcanvas-header justify-content-end pb-2">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
                </div>

                <!-- Offcanvas body -->
                <div class="offcanvas-body p-3 p-lg-0">
                    <div class="card bg-light w-100">
                        <!-- Card body START -->
                        <div class="card-body p-3">
                            <!-- Sidebar menu item START -->
                            <ul class="nav nav-pills-primary-soft flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'dashboard' %}"><i
                                            class="bi bi-person fa-fw me-2"></i>Dashboard</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="masterbooking"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-ticket-perforated fa-fw me-2"></i>Master Booking
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="masterbooking">
                                        <!-- Dropdown items for Master Bookings -->
                                        <li><a class="dropdown-item" href="{% url 'master_booking' %}">Master
                                            Booking</a></li>
                                        <li><a class="dropdown-item" href="{% url 'booking' %}">Oneway</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'roundway_booking' %}">Roundway</a></li>
                                        <li><a class="dropdown-item" href="{% url 'local_booking' %}">Local</a></li>
                                        <li><a class="dropdown-item" href="{% url 'airport_booking' %}">Airport</a>
                                        </li>
                                        <!-- Add more dropdown items as needed -->
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="{% url 'inquiry' %}"><i
                                            class="bi bi-person fa-fw me-2"></i>Inquiry</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="cabfaredropdown"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-ticket-perforated fa-fw me-2"></i>Cab fare
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="cabfaredropdown">
                                        <!-- Dropdown items for Master Bookings -->
                                        <li><a class="dropdown-item" href="{% url 'cab_fare_oneway' %}">Oneway</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'cab_fare_roundway' %}">Roundway</a></li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'cab_fare_airport' %}">Airport</a></li>
                                        <li><a class="dropdown-item" href="{% url 'fix_routes' %}">Popular
                                            Routes</a></li>
                                        <li><a class="dropdown-item" href="{% url 'popular_routes' %}">Add Popular
                                            Routes</a></li>
                                        <!-- Add more dropdown items as needed -->
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dynamicroutedropdown"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-ticket-perforated fa-fw me-2"></i>Dynamic Routes
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dynamicroutedropdown">
                                        <!-- Dropdown items for Master Bookings -->
                                        <li><a class="dropdown-item" href="{% url 'dynamic_route' %}">Oneway</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                               href="{% url 'dynamic_roundway' %}">Roundway</a></li>
                                        <li><a class="dropdown-item" href="{% url 'dynamic_local' %}">Local</a></li>
                                        <!-- Add more dropdown items as needed -->
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="localpackages"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-ticket-perforated fa-fw me-2"></i>Local Packages
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="localpackages">
                                        <!-- Dropdown items for Master Bookings -->
                                        <li><a class="dropdown-item" href="{% url 'route_list' %}">List</a></li>
                                        <li><a class="dropdown-item" href="{% url 'add_city' %}">Add City</a></li>
                                        <li><a class="dropdown-item" href="{% url 'add_package' %}">Add Package</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'add_car' %}">Add Car</a></li>
                                        <!-- Add more dropdown items as needed -->
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="otherdropdown"
                                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-ticket-perforated fa-fw me-2"></i>Other
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="otherdropdown">
                                        <!-- Dropdown items for Master Bookings -->
                                        <li><a class="dropdown-item" href="{% url 'coupon_list' %}">Coupon</a></li>
                                        <li><a class="dropdown-item" href="{% url 'number' %}">Number</a></li>
                                        <li><a class="dropdown-item" href="{% url 'edit_social' %}">Social Media</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'logo_settings' %}">Logo</a></li>
                                        <li><a class="dropdown-item" href="{% url 'email' %}">Email Address</a></li>
                                    </ul>
                                </li>
                                <!-- Repeat similar structure for other sidebar items with dropdowns -->
                                <!-- ... -->
                            </ul>
                            <!-- Sidebar menu item END -->
                        </div>
                        <!-- Card body END -->
                    </div>
                </div>
            </div>
            <!-- Responsive offcanvas body END -->
        </div>
        <!-- Sidebar END -->
        <div class="col-lg-8 col-xl-9">
            <!-- Offcanvas menu button -->
            <div class="d-grid mb-0 d-lg-none w-100">
                <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                    <i class="fas fa-sliders-h"></i> Menu
                </button>
            </div>
            <div class="table-responsive border-0">
                <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                    <!-- Table head -->
                    <thead class="table-light">
                    <tr>
                        <th class="border-0 rounded-start" scope="col">#</th>
                        <th class="border-0" scope="col">Time</th>
                        <th class="border-0" scope="col">Name</th>
                        <th class="border-0" scope="col">Email</th>
                        <th class="border-0" scope="col">Mobile</th>
                        <th class="border-0" scope="col">Message</th>


                        <!--<th scope="col" class="border-0">Name</th>
                        <th scope="col" class="border-0">Mobile</th>
                        <th scope="col" class="border-0">Payment</th>
                        <th scope="col" class="border-0">Status</th>
                        <th scope="col" class="border-0">Payment</th>-->
                        <th class="border-0 rounded-end" scope="col">Action</th>
                    </tr>
                    </thead>

                    <!-- Table body START -->
                    <tbody class="border-top-0">
                    <!-- Table item -->
                    {% for i in contact %}
                    <tr>

                        <td><h6 class="mb-0 ">{{ contact.start_index|add:forloop.counter0 }}</h6></td>
                        <td class="text-dark">{{ i.created_at }}</td>
                        <td class="text-dark">{{ i.name }}</td>
                        <td class="text-dark">{{ i.email }}</td>
                        <td class="text-dark">{{ i.mobile }}</td>
                        <td class="text-dark">{{ i.message|truncatewords:10 }}</td>


                        <!--<td class="mb-0">Oneway</td>
                        <td><h6 class="mb-0"><a href="#">{{obj.name}}</a></h6></td>

                        <td><h6 class="mb-0 fw-light">{{obj.mobile_b}}</h6></td>
                        <td><h6 class="mb-0 fw-light success">₹ {{obj.amount}}</h6></td>
                        <td>
                            <div class="badge text-bg-success">Booked</div>
                        </td>
                        <td>
                            <div class="badge bg-warning bg-opacity-10 text-warning">Pending</div>
                        </td>-->
                        <td>
                            <button class="btn btn-sm btn-light mb-0"
                                    data-bs-target="#myModal{{i.id}}"
                                    data-bs-toggle="modal">View
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <!-- Table body END -->
                </table>

                <div class="d-flex justify-content-center pt-3">
                    <ul class="pagination">
                        {% if contact.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ contact.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        <li class="page-item active">
                            <span class="page-link">{{ contact.number }}</span>
                        </li>

                        {% if contact.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ contact.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ contact.paginator.num_pages }}">Last</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
            <!-- Hotel room list END -->

            {% for i in contact %}
            <!-- The Modal -->
            <div class="modal fade" id="myModal{{ i.id }}">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h6 class="modal-title">Booking Summery</h6>
                            <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="col-12">
                                <div class="row">
                                    <div class="h6 col-8">Name</div>
                                    <div class="col-4 text-dark" style="font-size:17px;">
                                        <span style=" float:right">{{i.name}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 col-8">Email</div>
                                    <div class="col-4 text-dark" style="font-size:17px;">
                                        <span style=" float:right">{{i.email}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="h6 col-8">Number</div>
                                    <div class="col-4 text-dark" style="font-size:17px;">
                                        <span id="source" style="float:right">{{ i.mobile }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="h6 col-4">Message</div>
                                    <div class="col-8 text-dark" style="font-size:17px;">
                                        <span style="float:right">{{ i.message }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}