{% extends 'admin/admin_base.html' %}
{% block content %}
{% load static %}
<!-- =======================
Content START -->
<!--<table>
    <thead>
    <tr>
        <th>Sr. No</th>
        <th>Date</th>
        <th>Time</th>
        <th>Booking ID</th>
        <th>current date and time</th>
        <th>Booking Status</th>
        <th>Payment</th>

    </tr>
    </thead>
    <tbody>
    {% for booking_data in all_bookings %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ booking_data.booking_instance.date }}</td>
        <td>{{ booking_data.booking_instance.time }}</td>
        <td>{{ booking_data.booking_instance.booking_id }}</td>
        <td>{{ booking_data.booking_instance.created_at }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>-->

<section class="pt-0">
    <div class="container vstack gap-4">
        <!-- Title START -->
        <div class="row">
            <div class="col-12">
                <h1 class="fs-4 mb-0"><i class="bi bi-bookmark-heart fa-fw me-1"></i>Bookings</h1>
            </div>
        </div>
        <!-- Title END -->

        <!-- Booking table START -->
        <div class="row">
            <div class="col-12">
                <div class="card border">
                    <!-- Card header START -->
                    <div class="card-header border-bottom">
                        <h5 class="card-header-title">Bookings
                            <!--<span class="badge bg-primary bg-opacity-10 text-primary ms-2">10 Bookings</span>--></h5>
                    </div>
                    <!-- Card header END -->

                    <!-- Card body START -->
                    <div class="card-body">
                        <!-- Search and select START -->
                        <div class="row g-3 align-items-center justify-content-between mb-3">
                            <!-- Search -->
                            <div class="col-md-8">
                                <form class="rounded position-relative">
                                    <input aria-label="Search" class="form-control pe-5" placeholder="Search"
                                           type="search">
                                    <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                                            type="submit"><i class="fas fa-search fs-6"></i></button>
                                </form>
                            </div>

                            <!-- Select option -->
                            <div class="col-md-3">
                                <!-- Short by filter -->
                                <form>
                                    <select aria-label=".form-select-sm" class="form-select js-choice">
                                        <option value="">Sort by</option>
                                        <option>Free</option>
                                        <option>Newest</option>
                                        <option>Oldest</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                        <!-- Search and select END -->

                        <!-- Hotel room list START -->
                        <div class="table-responsive border-0">
                            <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                                <!-- Table head -->
                                <thead class="table-light">
                                <tr>
                                    <th class="border-0 rounded-start" scope="col">#</th>
                                    <th class="border-0" scope="col">Booking Date & Time</th>
                                    <th class="border-0" scope="col">Booking ID</th>
                                    <th class="border-0" scope="col">Booking Status</th>
                                    <th class="border-0" scope="col">Payment Status</th>


                                    <!--<th scope="col" class="border-0">Name</th>
                                    <th scope="col" class="border-0">Mobile</th>
                                    <th scope="col" class="border-0">Payment</th>
                                    <th scope="col" class="border-0">Status</th>
                                    <th scope="col" class="border-0">Payment</th>-->
                                    <th class="border-0 rounded-end" scope="col">Action</th>
                                </tr>
                                </thead>

                                <!-- Table body START -->
                                <tbody class="border-top-0">
                                <!-- Table item -->
                                {% for booking in all_bookings %}
                                <tr>

                                    <td><h6 class="mb-0 ">{{forloop.counter}}</h6></td>
                                    <td class="text-dark">{{ booking.created_at|date:"d-m-Y / H:i" }}</td>

                                    <td class="text-dark">{{ booking.booking_id }}</td>
                                    <td class="text-dark">--</td>
                                    <td class="text-dark">--</td>


                                    <!--<td class="mb-0">Oneway</td>
                                    <td><h6 class="mb-0"><a href="#">{{obj.name}}</a></h6></td>

                                    <td><h6 class="mb-0 fw-light">{{obj.mobile_b}}</h6></td>
                                    <td><h6 class="mb-0 fw-light success">₹ {{obj.amount}}</h6></td>
                                    <td>
                                        <div class="badge text-bg-success">Booked</div>
                                    </td>
                                    <td>
                                        <div class="badge bg-warning bg-opacity-10 text-warning">Pending</div>
                                    </td>-->
                                    <td>
                                        <button class="btn btn-sm btn-light mb-0"
                                                data-bs-target="#myModal{{booking.id}}"
                                                data-bs-toggle="modal"
                                        >View
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <!-- Table body END -->
                            </table>
                        </div>
                        <!-- Hotel room list END -->
                    </div>
                    <!-- Card body END -->
                    {% for booking in all_bookings %}
                    <!-- The Modal -->
                    <div class="modal fade" id="myModal{{ booking.id }}">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h6 class="modal-title">Booking Summery</h6>
                                    <button class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="h6 small col-8">Booking ID</div>
                                            <div class="col-4 text-dark" style="font-size:13px;">
                                                <span style=" float:right">{{booking.booking_id}}</span>
                                            </div>
                                        </div>

                                        {% if booking.booking_type == "Local" %}
                                        <div class="row">
                                            <div class="h6 small col-8">Local City</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right">{{ booking.selected_city }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Package</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right">{{ booking.selected_package }}</span>
                                            </div>
                                        </div>
                                        <!-- ... adjust other values as needed ... -->
                                        {% else %}
                                        <div class="row">
                                            <div class="h6 small col-8">Pickup City</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span id="source" style="float:right">{{ booking.pickup_city }}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Drop City</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span id="destination"
                                                      style="float:right">{{ booking.drop_city }}</span>
                                            </div>
                                        </div>
                                        <!-- ... adjust other values as needed ... -->
                                        {% endif %}
                                        <div class="row">
                                            <div class="h6 small col-8">Mobile No.</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style=" float:right">{{booking.mobile_b}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Email</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right">{{booking.email}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Name</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right">{{booking.name}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Total Amount</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right">₹ {{booking.amount}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Journey Date</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right">{{booking.date}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Journey Time</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right"> {{booking.time}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Remarks</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right"> {{booking.remark}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">GST Company</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right"> {{booking.gst_company}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">GST Number</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right"> {{booking.gst_number}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="h6 small col-8">Booking Date & Time</div>
                                            <div class="col-4" style="font-size:13px;">
                                                <span style="float:right"> {{booking.created_at|date:"d-m-Y / H:i"}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endfor %}


                    <!-- Card footer START -->
                    <div class="card-footer pt-0">
                        <!-- Pagination and content -->
                        <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                            <!-- Content -->
                            <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                            <!-- Pagination -->
                            <nav aria-label="navigation" class="mb-sm-0 d-flex justify-content-center">
                                <ul class="pagination pagination-sm pagination-primary-soft mb-0">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Prev</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Card footer END -->
                </div>
            </div>
        </div>
        <!-- Booking table END -->
    </div>
</section>
<!-- =======================
Content END -->


<!-- =======================
Content END -->


{% endblock %}