{% extends 'base.html' %}
{% block content %}
{% load static %}
<section>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <div class="card bg-light p-0 pb-0">
                    <!-- Card body -->
                    <div class="card-body d-flex justify-content-between flex-wrap">
                        <!-- Title and badge -->
                        <div>


                            <!-- Title -->
                            <h1 class="h3 mt-2 mb-1">Popular outstation cab routes</h1>
                            <p class="mb-2 mb-sm-0"><i class="bi bi-taxi-front me-1 text-danger"></i> <b>Book Taxi/Cab
                                From</b> Pickup Location _ _ <i class="bi bi-geo-alt me-1 text-warning"></i> to Drop
                                Location _ _ <i class="bi bi-geo-alt me-1 text-warning"> </i></p>
                        </div>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer bg-transparent border-top py-0">
                        <ul class="nav nav-tabs nav-bottom-line nav-responsive border-0" role="tablist">
                            <li class="nav-item"><a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1">Ahemdabad</a>
                            </li>
                            <li class="nav-item"><a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2">Vadodra</a>
                            </li>
                            <li class="nav-item"><a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3">Rajkot</a>
                            </li>
                            <li class="nav-item"><a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-4">Surat</a>
                            </li>
                            <li class="nav-item"><a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-5">Mumbai</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Title and tabs END -->

<!-- =======================
Content START -->
<section class="pt-0">
    <div class="container">
        <!-- Tabs contents START -->
        <div class="tab-content mb-0" id="tour-pills-tabContent">

            <!-- Content item START -->
            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">

            </div>
            <!-- Content item END -->

            <!-- Content item START -->
            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">

            </div>

            <!-- Content item START -->
            <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                <!-- Spa services -->
                <h5 class="mb-3"><i class="fa-solid fa-spa fa-fw text-warning"></i> Book Taxi from Ahemdabad, Gujrat
                </h5>
                <div class="row">
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Foot Treatments
                                </a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Body Massage </a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Our Special
                                    Massage</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Head & Foot
                                    Treatments </a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Body Spa - Scrubs</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Body
                                    DE-Tanning</a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Body Polishing
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Back Treatments
                                </a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Manicure &
                                    Pedicure</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Salon services -->
                <h5 class="mb-3 mt-5"><i class="bi bi-scissors fa-fw text-warning"></i> Salon Services</h5>
                <div class="row">
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Threading</a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Bleach</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Waxing</a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Blow Dry</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Hair Colour</a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Facial &
                                    Cleanup</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <ul class="list-group list-group-borderless mb-0">
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Pre Bridal</a>
                            </li>
                            <li class="list-group-item h6 fw-normal mb-0">
                                <a href="#" class="mb-0"> <i class="bi fa-fw bi-arrow-right me-1"></i>Bridal Makeup</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tabs contents END -->
    </div>
</section>

{% endblock %}