{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- =======================
Main Banner START -->


<section class="pt-2">
    <div class="container bg-light rounded-3 p-2" data-sticky-container>
        <div class="row g-1">

            <div class="col-lg-10 ms-auto position-relative">
                <img alt="" class="rounded-3" src="{% static 'assets/images/bg/hello.jpg' %}">

                <!-- Search START -->
                <div class="col-12 col-sm-12 col-lg-8 col-xl-6 position-lg-middle ms-lg-8 ms-xl-7">
                    <div class="card shadow pb-0 mt-n8 mt-sm-n8 mt-lg-0">

                        <!-- Card header -->

                        <div class="pt-3 p-3 p-sm-4 pb-0 ">
                            <div class="btn-group btn-group-sm " style="" role="group">
                                <button class="btn btn-light rounded active" onclick="changeTab(1)"
                                        style="font-size:12px; margin-right: 10px;">
                                    OUTSTATION
                                </button>
                                <button class="btn btn-light rounded" onclick="changeTab(2)"
                                        style="font-size:12px; margin-right: 10px;">
                                    LOCAL
                                </button>
                                <button class="btn btn-light rounded" onclick="changeTab(3)" style="font-size:12px;">
                                    AIRPORT
                                </button>
                            </div>
                        </div>

                        <!-- Card body START -->

                        <!-- Tabs START -->


                        <div class="tab-content mt-3">
                            <!------------------------------------------------------ LOCAL CABS ------------------------------------------------------------>
                            <div class="tab-pane fade card-body p-2 p-sm-4" id="tab2">
                                <form method="post" class="cab-form"
                                      novalidate>
                                    {% csrf_token %}
                                    <div class="row g-2 g-md-3 pb-1">
                                        <!-- Pickup -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>CITY</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <!-- Cities -->
                                                        <div class="bg-info text-light bg-opacity-10">
                                                            <select class="form-control" name="city" required>
                                                                <option value="">Select City</option>
                                                                {% for city in cities %}
                                                                <option value="{{ city.id }}">{{ city.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <i class="bi bi-caret-down-square"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>PACKAGE</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <!-- Cities -->
                                                        <div class="bg-info text-light bg-opacity-10">
                                                            <select class="form-control" name="package" required>
                                                                <option value="">Select Package
                                                                </option>
                                                                {% for package in packages %}
                                                                <option value="{{ package.id }}">{{ package.name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <i class="bi bi-caret-down-square"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Date -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>DATE</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">

                                                        <div class="form">
                                                            <input class="form-control flatpickr"
                                                                   data-date-format="d/M/Y"
                                                                   name="date"
                                                                   placeholder="Select Date" required
                                                                   type="date">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Time -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>TIME</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <div class="form">
                                                            <select class="form-control" name="time" required>
                                                                <option value="Select time">Select time</option>
                                                                <option class="form-control" value="12:00 AM">
                                                                    12:00
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="00:30 AM">
                                                                    00:30
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="1:00 AM">
                                                                    1:00 AM
                                                                </option>
                                                                <option class="form-control" value="1:30 AM">
                                                                    1:30 AM
                                                                </option>
                                                                <option class="form-control" value="2:00 AM">
                                                                    2:00 AM
                                                                </option>
                                                                <option class="form-control" value="2:30 AM">
                                                                    2:30 AM
                                                                </option>
                                                                <option class="form-control" value="3:00 AM">
                                                                    3:00 AM
                                                                </option>
                                                                <option class="form-control" value="3:30 AM">
                                                                    3:30 AM
                                                                </option>
                                                                <option class="form-control" value="4:00 AM">
                                                                    4:00 AM
                                                                </option>
                                                                <option class="form-control" value="4:30 AM">
                                                                    4:30 AM
                                                                </option>
                                                                <option class="form-control" value="5:00 AM">
                                                                    5:00 AM
                                                                </option>
                                                                <option class="form-control" value="5:30 AM">
                                                                    5:30 AM
                                                                </option>
                                                                <option class="form-control" value="6:00 AM">
                                                                    6:00 AM
                                                                </option>
                                                                <option class="form-control" value="6:30 AM">
                                                                    6:30 AM
                                                                </option>
                                                                <option class="form-control" value="7:00 AM">
                                                                    7:00 AM
                                                                </option>
                                                                <option class="form-control" value="7:30 AM">
                                                                    7:30 AM
                                                                </option>
                                                                <option class="form-control" value="8:00 AM">
                                                                    8:00 AM
                                                                </option>
                                                                <option class="form-control" value="8:30 AM">
                                                                    8:30 AM
                                                                </option>
                                                                <option class="form-control" value="9:00 AM">
                                                                    9:00 AM
                                                                </option>
                                                                <option class="form-control" value="9:30 AM">
                                                                    9:00 AM
                                                                </option>
                                                                <option class="form-control" value="10:00 AM">
                                                                    10:00
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="10:30 AM">
                                                                    10:30
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="11:00 AM">
                                                                    11:00
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="11:30 AM">
                                                                    11:30
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="1:00 PM">
                                                                    1:00 PM
                                                                </option>
                                                                <option class="form-control" value="1:30 PM">
                                                                    1:30 PM
                                                                </option>
                                                                <option class="form-control" value="2:00 PM">
                                                                    2:00 PM
                                                                </option>
                                                                <option class="form-control" value="2:30 PM">
                                                                    2:30 PM
                                                                </option>
                                                                <option class="form-control" value="3:00 PM">
                                                                    3:00 PM
                                                                </option>
                                                                <option class="form-control" value="3:30 PM">
                                                                    3:30 PM
                                                                </option>
                                                                <option class="form-control" value="4:00 PM">
                                                                    4:00 PM
                                                                </option>
                                                                <option class="form-control" value="4:30 PM">
                                                                    4:30 PM
                                                                </option>
                                                                <option class="form-control" value="5:00 PM">
                                                                    5:00 PM
                                                                </option>
                                                                <option class="form-control" value="5:30 PM">
                                                                    5:30 PM
                                                                </option>
                                                                <option class="form-control" value="6:00 PM">
                                                                    6:00 PM
                                                                </option>
                                                                <option class="form-control" value="6:30 PM">
                                                                    6:30 PM
                                                                </option>
                                                                <option class="form-control" value="7:00 PM">
                                                                    7:00 PM
                                                                </option>
                                                                <option class="form-control" value="7:30 PM">
                                                                    7:30 PM
                                                                </option>
                                                                <option class="form-control" value="8:00 PM">
                                                                    8:00 PM
                                                                </option>
                                                                <option class="form-control" value="8:30 PM">
                                                                    8:30 PM
                                                                </option>
                                                                <option class="form-control" value="9:00 PM">
                                                                    9:00 PM
                                                                </option>
                                                                <option class="form-control" value="9:30 PM">
                                                                    9:00 PM
                                                                </option>
                                                                <option class="form-control" value="10:00 PM">
                                                                    10:00
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="10:30 PM">
                                                                    10:30
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="11:00 PM">
                                                                    11:00
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="11:30 PM">
                                                                    11:30
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="12:00 PM">
                                                                    12:00
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="12:30 PM">
                                                                    12:30
                                                                    PM
                                                                </option>

                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-info mb-0" type="submit">Search Cabs</button>
                                    </div>
                                </form>
                            </div>

                            <!------------------------------------------------------ AIRPORT CABS ------------------------------------------------------------>


                            <div class="tab-pane fade card-body p-2 p-sm-4" id="tab3">
                                <form method="post" id="cab-form" class="cab-form" action="{% url 'airport_cab' %}"
                                      novalidate>
                                    {% csrf_token %}
                                    <div class="row g-2 g-md-3 pb-1">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>TRIP</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex">
                                                        <!-- Cities -->
                                                        <div class="form bg-info text-light bg-opacity-10">
                                                            <select class="form-control tripSelection"
                                                                    name="selected_option"
                                                                    id="tripSelection1">
                                                                <option value="airport_pickup">Pickup from Airport
                                                                </option>
                                                                <option value="airport_drop">Drop to Airport</option>
                                                            </select>
                                                        </div>
                                                        <i class="bi bi-caret-down-square"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Pickup -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small cityLabel text-dark"><b>PICKUP
                                                    CITY</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <!-- Cities -->
                                                        <div>
                                                            <input id="airport" class="form-control city cityInput"
                                                                   name="airport"
                                                                   placeholder="Select Airport or City"
                                                                   required
                                                                   size="100" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small addressLabel text-dark"><b>PICKUP
                                                    ADDRESS</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex">
                                                        <!-- Cities -->
                                                        <div class="form">
                                                            <input id="address"
                                                                   class="form-control addressInput"
                                                                   name="address"
                                                                   placeholder="Select Your Location"
                                                                   required
                                                                   size="100" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Date -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>DATE</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">

                                                        <div class="form">
                                                            <input class="form-control flatpickr"
                                                                   data-date-format="d/M/Y"
                                                                   name="date"
                                                                   placeholder="Select Date" required
                                                                   type="date">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Time -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>TIME</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <div class="form">
                                                            <select class="form-control"
                                                                    name="time"
                                                                    required>
                                                                <option value="">Select time</option>
                                                                <option class="form-control" value="12:00 AM">
                                                                    12:00
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="00:30 AM">
                                                                    00:30
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="1:00 AM">
                                                                    1:00 AM
                                                                </option>
                                                                <option class="form-control" value="1:30 AM">
                                                                    1:30 AM
                                                                </option>
                                                                <option class="form-control" value="2:00 AM">
                                                                    2:00 AM
                                                                </option>
                                                                <option class="form-control" value="2:30 AM">
                                                                    2:30 AM
                                                                </option>
                                                                <option class="form-control" value="3:00 AM">
                                                                    3:00 AM
                                                                </option>
                                                                <option class="form-control" value="3:30 AM">
                                                                    3:30 AM
                                                                </option>
                                                                <option class="form-control" value="4:00 AM">
                                                                    4:00 AM
                                                                </option>
                                                                <option class="form-control" value="4:30 AM">
                                                                    4:30 AM
                                                                </option>
                                                                <option class="form-control" value="5:00 AM">
                                                                    5:00 AM
                                                                </option>
                                                                <option class="form-control" value="5:30 AM">
                                                                    5:30 AM
                                                                </option>
                                                                <option class="form-control" value="6:00 AM">
                                                                    6:00 AM
                                                                </option>
                                                                <option class="form-control" value="6:30 AM">
                                                                    6:30 AM
                                                                </option>
                                                                <option class="form-control" value="7:00 AM">
                                                                    7:00 AM
                                                                </option>
                                                                <option class="form-control" value="7:30 AM">
                                                                    7:30 AM
                                                                </option>
                                                                <option class="form-control" value="8:00 AM">
                                                                    8:00 AM
                                                                </option>
                                                                <option class="form-control" value="8:30 AM">
                                                                    8:30 AM
                                                                </option>
                                                                <option class="form-control" value="9:00 AM">
                                                                    9:00 AM
                                                                </option>
                                                                <option class="form-control" value="9:30 AM">
                                                                    9:00 AM
                                                                </option>
                                                                <option class="form-control" value="10:00 AM">
                                                                    10:00
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="10:30 AM">
                                                                    10:30
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="11:00 AM">
                                                                    11:00
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="11:30 AM">
                                                                    11:30
                                                                    AM
                                                                </option>
                                                                <option class="form-control" value="1:00 PM">
                                                                    1:00 PM
                                                                </option>
                                                                <option class="form-control" value="1:30 PM">
                                                                    1:30 PM
                                                                </option>
                                                                <option class="form-control" value="2:00 PM">
                                                                    2:00 PM
                                                                </option>
                                                                <option class="form-control" value="2:30 PM">
                                                                    2:30 PM
                                                                </option>
                                                                <option class="form-control" value="3:00 PM">
                                                                    3:00 PM
                                                                </option>
                                                                <option class="form-control" value="3:30 PM">
                                                                    3:30 PM
                                                                </option>
                                                                <option class="form-control" value="4:00 PM">
                                                                    4:00 PM
                                                                </option>
                                                                <option class="form-control" value="4:30 PM">
                                                                    4:30 PM
                                                                </option>
                                                                <option class="form-control" value="5:00 PM">
                                                                    5:00 PM
                                                                </option>
                                                                <option class="form-control" value="5:30 PM">
                                                                    5:30 PM
                                                                </option>
                                                                <option class="form-control" value="6:00 PM">
                                                                    6:00 PM
                                                                </option>
                                                                <option class="form-control" value="6:30 PM">
                                                                    6:30 PM
                                                                </option>
                                                                <option class="form-control" value="7:00 PM">
                                                                    7:00 PM
                                                                </option>
                                                                <option class="form-control" value="7:30 PM">
                                                                    7:30 PM
                                                                </option>
                                                                <option class="form-control" value="8:00 PM">
                                                                    8:00 PM
                                                                </option>
                                                                <option class="form-control" value="8:30 PM">
                                                                    8:30 PM
                                                                </option>
                                                                <option class="form-control" value="9:00 PM">
                                                                    9:00 PM
                                                                </option>
                                                                <option class="form-control" value="9:30 PM">
                                                                    9:00 PM
                                                                </option>
                                                                <option class="form-control" value="10:00 PM">
                                                                    10:00
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="10:30 PM">
                                                                    10:30
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="11:00 PM">
                                                                    11:00
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="11:30 PM">
                                                                    11:30
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="12:00 PM">
                                                                    12:00
                                                                    PM
                                                                </option>
                                                                <option class="form-control" value="12:30 PM">
                                                                    12:30
                                                                    PM
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-info mb-0" type="submit">Search Cabs</button>
                                    </div>
                                </form>
                            </div>

                            <!--------------------------------------------------OUTSTATION--------------------------------------------------------->
                            <div class="tab-pane fade show active  card-body p-2 p-sm-4" id="tab1">
                                <form method="post" class="cab-form" action="{% url 'calculate-fare' %}" novalidate>
                                    {% csrf_token %}
                                    <div class="row g-2 g-md-3 pb-1">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>TRIP</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex">
                                                        <!-- Cities -->
                                                        <div class="form bg-info text-light bg-opacity-10">
                                                            <select class="form-control outstation"
                                                                    id="outstation"
                                                                    name="trip_type">
                                                                <option value="oneway">ONEWAY</option>
                                                                <option value="roundway">ROUNDWAY</option>
                                                            </select>
                                                        </div>
                                                        <i class="bi bi-caret-down-square"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Pickup -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>FROM</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <!-- Cities -->
                                                        <div>
                                                            <input class="form-control source"
                                                                   name="source"
                                                                   placeholder="Select City"
                                                                   required
                                                                   size="100" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>TO</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex">
                                                        <!-- Cities -->
                                                        <div class="form">
                                                            <input class="form-control destination"
                                                                   name="destination"
                                                                   placeholder="Select City"
                                                                   required
                                                                   size="100" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Date -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>DATE</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">

                                                        <div class="form">
                                                            <input class="form-control flatpickr"
                                                                   data-date-format="d/M/Y"
                                                                   id="date_input"
                                                                   name="date"
                                                                   placeholder="Select Date" required
                                                                   type="date">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!------------------------------RETURN DATE ----------------------------------->
                                        <div class="col-md-12 return-date">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>RETURN DATE</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <div class="form">
                                                            <input class="form-control flatpickr date-picker"
                                                                   data-date-format="d/M/Y"
                                                                   name="return_date"
                                                                   placeholder="Select Return Date" required
                                                                   type="date">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Time -->
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <label class="col-3 small"><b>TIME</b></label>
                                                <div class="col-9">
                                                    <div class="form-border-bottom form-control-transparent d-flex align-items-center">
                                                        <div class="form">
                                                            <select class="form-control time_input"
                                                                    id="time_input"
                                                                    name="time"
                                                                    required>
                                                                <option value="">Select time</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-grid">
                                        <button class="btn btn-info mb-0" type="submit">Search Cabs</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                        <!-- Card-body END -->
                    </div>
                </div>
                <!-- Search END -->
            </div>
        </div> <!-- Row END -->
    </div>
</section>
<!-- =======================
Main Banner END -->

<!-- **************** MAIN CONTENT After booking Form **************** -->
<main>

<!-- =======================
Main Banner START -->
<section class="pt-4 pt-md-5">
	<div class="container">
		<div class="row g-4 align-items-center">
			<div class="col-lg-7">
				<!-- Title -->
				<h2 class="mb-4 display-7">Book with us for a <span class="text-info">stress-free journey!</span></h2>
				<!-- Info -->
				<p class="mb-4"><span class="dropcap text-info bg-info bg-opacity-10 rounded px-1">O</span>ne-stop solution in Ahmedabad for one-way and round-trip journeys, efficient airport pickups and drops, and convenient local car rentals. <b class="bg-danger text-light" >Make My Ryde</b>, a trusted car rental company in Ahmedabad, has been serving customers for over a decade. We offer a <b>hassle-free booking process</b>, letting you provide the flexibility to select from a diverse range of cars, including Premium options, all within your budget. Our helpful representatives assist in planning your trip. Popular services include <b>corporate car rentals</b> and <b>outstation cabs</b>. Book with us for a stress-free journey!"</p>
				<!-- Button -->
				<a href="add-listing.html" class="btn btn-danger-soft mb-4">Book now <i class="fa-solid fa-arrow-right-long fa-fw"></i></a>
				<!-- List -->
				<h6 class="fw-normal mb-1">Know Why this trip will be better ? </h6>
				<ul class="list-group list-group-borderless mb-0 small">
					<li class="list-group-item d-flex mb-0">
						<i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>Complete support, assisting you from the initial inquiry to drop-off service.
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="fa-solid fa-check-circle text-success me-2 mt-1"></i>Easy payment and return policy, along with our transparent Terms & Conditions, ensure a hassle-free experience.
					</li>
					<li class="list-group-item d-flex mb-0">
						<i class="fa-solid fa-check-circle text-success me-2 mt-1"></i> Rest assured, there are no hidden charges. Your invoice will be promptly shared via email and mobile, ensuring complete transparency.".
					</li>
				</ul>
			</div>
			<!-- Image -->
			<div class="col-lg-5 text-center">
				<img src="{% static 'assets/images/element/join-us.svg' %}" alt="">
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->

<section class="pt-0 pt-md-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="bg-light p-2 p-sm-2 rounded-3">
					<!-- Title -->
					<div class="row g-2">
						<!-- Card START -->
						<div class="col-md-3">
							<div class="card card-body p-2">
							 <div><img src="{% static 'assets/images/element/outstation.jpg' %}" class="mb-3 rounded h-125px" alt=""></div>
								<h5 class="fs-5">Outstation Travel</h5>
								<p class="mb-0">
                                    Explore all of India with our <badge class="bg-light text-info">One-way</badge> or <badge class="bg-light text-info">Round-trip</badge> outstation cab services. Our skilled drivers prioritize both speed and safety, guaranteeing timely arrivals. Trust us for all your outstation car rental needs.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-3">
							<div class="card card-body p-2">
								<div><img src="{% static 'assets/images/element/airport.jpg' %}" class="mb-3 rounded h-125px" alt=""></div>
								<h5 class="fs-5">Airport Transfer</h5>
								<p class="mb-0">we prioritize your flight's punctuality and safety. Whether returning from a trip, exploring as a tourist, or needing an <badge class="bg-light text-info">airport drop</badge>, our prompt drivers ensure a secure journey.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-3">
							<div class="card card-body p-2">
								<div><img src="{% static 'assets/images/element/local.jpg' %}" class="mb-3 rounded h-125px" alt=""></div>
								<h5 class="fs-5">Local Trip Rental</h5>
								<p class="mb-0">Discover <badge class="bg-light text-info">local car rentals</badge>in the city with tailored packages. Whether you need a ride to a meeting, wedding, or any event, our skilled drivers navigate traffic and rough roads, ensuring punctual arrivals.</p>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="col-md-3">
							<div class="card card-body p-2">
								<div><img src="{% static 'assets/images/element/multicity.png' %}" class="mb-3 rounded h-125px" alt=""></div>
								<h5 class="fs-5">Multiway Booking</h5>
								<p class="mb-0">Freedom and Flexibility: You are in control of your journey. Plan your route, choose your destinations, and alter your schedule as you go. Travel in comfort with your private vehicle. Avoid the need for <badge class="bg-light text-info">multiple bookings</badge> and check-ins.</p>
							</div>
						</div>
						<!-- Card END -->

					</div>
			</div>
		</div>
	</div>
</section>

					<!-- Popular tags -->
					<div class="align-items-center">
						<h6 class="d-inline-block mb-2 me-4">Popular Tags:</h6>
						<ul class="list-inline mb-0">
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Car Hire</a> </li>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Taxi Services</a> </li>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Airport Transfer</a> </li>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Affordable Car Rentals</a> </li>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Local Car Rental</a> </li>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Cab Company</a> </li>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Round Trip Car Rental</a> </li>
							<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">One Way Cab Service</a> </li>
                            <li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Best Taxi Booking Ahmedabad</a> </li>
						</ul>
					</div>


</main>
<!-- **************** MAIN CONTENT After booking Form **************** -->


{% endblock %}